<div [ngSwitch]="true">
  <div *ngSwitchCase="viewType === 'addCashin' || viewType === 'editCashin'">
    <mat-card class="mat-card-custom">
      <form [formGroup]="this.cashinForm">
        <!-- AMOUNT -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Amount</mat-label>
          <input
            type="number"
            min="0"
            step=".25"
            matInput
            formControlName="amount"
            (paste)="currencyStrict($event)"
            (keypress)="currencyStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('amount')">
            <div *ngIf="cashinForm.get('amount')?.hasError('required')">
              Amount is required
            </div>
          </mat-error>
        </mat-form-field>

        <!-- FEE -->
        <mat-form-field style="display: block" appearance="outline">
          <mat-label>Fee</mat-label>
          <input
            type="number"
            min="0"
            step=".25"
            matInput
            formControlName="fee"
            (paste)="currencyStrict($event)"
            (keypress)="currencyStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('fee')">
            <div *ngIf="cashinForm.get('fee')?.hasError('required')">
              Fee is required
            </div>
          </mat-error>
        </mat-form-field>

        <!-- PHONE NUMBER -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phone_number"
            (paste)="phoneNumberStrict($event)"
            (keypress)="phoneNumberStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('phone_number')">
            <div *ngIf="cashinForm.get('phone_number')?.hasError('required')">
              Phone number is required
            </div>
            <div *ngIf="cashinForm.get('phone_number')?.hasError('pattern')">
              Invalid phone number format
            </div>
          </mat-error>
        </mat-form-field>

        <!-- FEE PAYMENT IS GCASH -->
        <div style="margin-bottom: 2em">
          <mat-label style="margin-right: 1em">Payment Fee</mat-label>
          <mat-radio-group formControlName="fee_payment_is_gcash">
            <mat-radio-button
              color="accent"
              value="true"
              style="margin-right: 1em"
              >Gcash</mat-radio-button
            >
            <mat-radio-button color="accent" value="false"
              >Cash</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <!-- NOTE -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Note</mat-label>
          <input type="text" matInput formControlName="note" />
        </mat-form-field>

        <div class="main-buttons">
          <button
            *ngIf="viewType === 'addCashin'"
            mat-flat-button
            color="main-green"
            (click)="sendRequest()"
            [disabled]="this.cashinForm.invalid || sendRequestBtnOnLoad"
            class="btn-block fw-bold"
          >
            <!-- <i
              class="fas"
              [ngClass]="{
                'fa-circle-notch fa-spin': sendRequestBtnOnLoad,
                'fa-check': !sendRequestBtnOnLoad
              }"
            ></i> -->
            SEND REQUEST
          </button>
          <button
            *ngIf="viewType === 'editCashin'"
            mat-flat-button
            color="main-green"
            (click)="updateRequest()"
            [disabled]="this.cashinForm.invalid || updateRequestBtnOnLoad"
            class="btn-block fw-bold"
          >
            <i
              class="fas"
              [ngClass]="{
                'fa-circle-notch fa-spin': updateRequestBtnOnLoad,
                'fa-check': !updateRequestBtnOnLoad
              }"
            ></i>
            UPDATE REQUEST
          </button>
          <button
            mat-flat-button
            color="main-green"
            (click)="cancel()"
            class="btn-block fw-bold"
          >
            CANCEL
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngSwitchCase="viewType === 'approveCashin'">
    <mat-card class="mat-card-custom">
      <form [formGroup]="this.approveCashinForm">
        <!-- SCREENSHOT -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <button mat-icon-button matPrefix (click)="fileInput.click()">
            <mat-icon class="material-symbols-outlined">edit</mat-icon>
          </button>
          <input type="text" readonly matInput formControlName="screenshot" />
        </mat-form-field>

        <input
          type="file"
          hidden
          #fileInput
          (change)="screenshotUploadHandler($event)"
        />

        <div class="main-buttons">
          <button
            mat-flat-button
            color="main-green"
            (click)="approveRequest()"
            [disabled]="this.approveCashinForm.invalid || approveReqBtnOnLoad"
            class="btn-block fw-bold"
          >
            <i
              class="fas"
              [ngClass]="{
                'fa-circle-notch fa-spin': approveReqBtnOnLoad,
                'fa-check': !approveReqBtnOnLoad
              }"
            ></i>
            APPROVE REQUEST
          </button>
          <button
            mat-flat-button
            (click)="cancel()"
            color="main-green"
            class="btn-block fw-bold"
          >
            CANCEL
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngSwitchCase="this.viewType === 'table'">
    <mat-card style="margin-bottom: 15px">
      <section id="cssportal-grid" *ngIf="!cashInTableOnLoad">
        <div id="div0">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >calendar_month</mat-icon
          >  -->
          DATE
        </div>
        <div id="div1">
          <b>{{ transactionDetails.date | date : "MMMM d, y EE" }}</b>
        </div>
        <div id="div2">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >phone_android</mat-icon
          > -->
          ACCOUNT
        </div>
        <div id="div3">{{ transactionDetails.gcashNumber }}</div>
        <div id="div4">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >account_balance_wallet</mat-icon
          > -->
          CASH
        </div>

        <section id="div5">
          <div id="div5-1">
            {{ transactionDetails.cash_on_hand | currency : "₱" : "symbol" }}
          </div>
          <div id="div5-2">
            {{
              transactionDetails.runbal_cash_on_hand | currency : "₱" : "symbol"
            }}
          </div>
        </section>
        <div id="div6">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >rss_feed</mat-icon 
          > -->
          GCASH
        </div>
        <section id="div7">
          <div id="div7-1">
            {{ transactionDetails.gcash | currency : "₱" : "symbol" }}
          </div>
          <div id="div7-2">
            {{ transactionDetails.runbal_gcash | currency : "₱" : "symbol" }}
          </div>
        </section>
      </section>

      <div class="line-container" *ngIf="cashInTableOnLoad">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </mat-card>
    <app-table
      [componentName]="'cashin'"
      [headers]="[
        'TIME',
        'FEE',
        'AMOUNT',
        'ACCOUNT',
        'NOTE',
        'REFERENCE',
        'MENU'
      ]"
      [data]="this.cashIns"
      [dataNames]="[
        'createdAt',
        'fee',
        'amount',
        'phone_number',
        'note',
        'snapshot'
      ]"
      [totalCount]="counts"
      [filters]="this.filters"
      [currentPage]="currentPage"
      [tableOnLoad]="cashInTableOnLoad"
      [totalPages]="pages"
      (next)="this.getCashIns($event)"
      (emitButtonClick)="this.emittedButton($event)"
      (previous)="this.getCashIns($event)"
      @fade
    ></app-table>
  </div>
  <div *ngSwitchCase="this.viewType === 'noTransaction'">
    <p>No Transaction</p>
  </div>
</div>

<!-- to bypass autoplay policies in Safari and other browsers, you need to ensure
that audio playback is initiated by a user interaction, such as a click event. -->

<button
  hidden
  #triggerAudioBtn
  (click)="this.audio.playSound('mixkit-elevator-tone.ogg')"
>
  Play Sound
</button>
