<div [ngSwitch]="this.viewType">
  <div *ngSwitchCase="'addCashin'">
    <mat-card class="mat-card-custom">
      <form [formGroup]="this.cashinForm">
        <!-- PHONE NUMBER -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Phone number</mat-label>
          <input
            type="text"
            matInput
            formControlName="phone_number"
            (paste)="phoneNumberStrict($event)"
            (keypress)="phoneNumberStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('phone_number')">
            <div *ngIf="cashinForm.get('phone_number')?.hasError('required')">
              Phone number is required
            </div>
            <div *ngIf="cashinForm.get('phone_number')?.hasError('pattern')">
              Invalid phone number format
            </div>
          </mat-error>
        </mat-form-field>

        <!-- AMOUNT -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Amount</mat-label>
          <input
            type="number"
            min="0"
            step=".25"
            matInput
            formControlName="amount"
            (paste)="currencyStrict($event)"
            (keypress)="currencyStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('amount')">
            <div *ngIf="cashinForm.get('amount')?.hasError('required')">
              Amount is required
            </div>
          </mat-error>
        </mat-form-field>

        <!-- FEE -->
        <mat-form-field style="display: block" appearance="outline">
          <mat-label>Fee</mat-label>
          <input
            type="number"
            min="0"
            step=".25"
            matInput
            formControlName="fee"
            (paste)="currencyStrict($event)"
            (keypress)="currencyStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('fee')">
            <div *ngIf="cashinForm.get('fee')?.hasError('required')">
              Fee is required
            </div>
          </mat-error>
        </mat-form-field>

        <!-- FEE PAYMENT IS GCASH -->
        <div style="margin-bottom: 2em">
          <mat-label style="margin-right: 1em">Payment Fee</mat-label>
          <mat-radio-group formControlName="fee_payment_is_gcash">
            <mat-radio-button value="true" style="margin-right: 1em"
              >Gcash</mat-radio-button
            >
            <mat-radio-button value="false">Cash</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- NOTE -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Note</mat-label>
          <input type="text" matInput formControlName="note" />
        </mat-form-field>

        <div class="main-buttons">
          <button
            mat-flat-button
            color="primary"
            (click)="sendRequest()"
            [disabled]="this.cashinForm.invalid"
            class="btn-block fw-bold"
          >
            SEND REQUEST
          </button>
          <button
            mat-flat-button
            (click)="cancel()"
            color="primary"
            class="btn-block fw-bold"
          >
            CANCEL
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngSwitchCase="'approveCashin'">
    <mat-card class="mat-card-custom">
      <form [formGroup]="this.approveCashinForm">
        <!-- SCREENSHOT -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <button mat-icon-button matPrefix (click)="fileInput.click()">
            <mat-icon class="material-symbols-outlined">edit</mat-icon>
          </button>
          <input type="text" readonly matInput formControlName="screenshot" />
        </mat-form-field>

        <input
          type="file"
          hidden
          #fileInput
          (change)="screenshotUploadHandler($event)"
        />

        <div class="main-buttons">
          <button
            mat-flat-button
            color="primary"
            (click)="approveRequest()"
            [disabled]="this.approveCashinForm.invalid"
            class="btn-block fw-bold"
          >
            APPROVE REQUEST
          </button>
          <button
            mat-flat-button
            (click)="cancel()"
            color="primary"
            class="btn-block fw-bold"
          >
            CANCEL
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  <div *ngSwitchCase="'table'">
    <app-table
      [componentName]="'cashin'"
      [headers]="['STATUS', 'AMOUNT', 'MOBILE NUMBER', 'DATE']"
      [data]="this.cashIns"
      [dataNames]="['status', 'amount', 'phone_number', 'createdAt']"
      [totalCount]="counts"
      [filters]="this.filters"
      [currentPage]="currentPage"
      [tableOnLoad]="cashInTableOnLoad"
      [totalPages]="pages"
      (next)="this.getCashIns($event)"
      (emitButtonClick)="this.emittedButton($event)"
      (previous)="this.getCashIns($event)"
      @fade
    ></app-table>
  </div>
</div>

//to bypass autoplay policies in Safari and other browsers, you need to ensure
that audio playback is initiated by a user interaction, such as a click event.

<button
  hidden
  #triggerAudioBtn
  (click)="this.audio.playSound('mixkit-elevator-tone.ogg')"
>
  Play Sound
</button>
