.tab-container {
  padding: 40px;
  position: relative;
  max-width: 400px;
  font-size: larger;
}

.logout-container {
  padding: 40px;
  position: relative;
  max-width: 400px;
}

.tab-group {
  background-color: #90ac8e;
  padding: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 20px;
  border-radius: 15px;
}

.tab-cashout {
  position: absolute;
  left: 12%;
  top: 7px;
  z-index: 2;
  cursor: pointer;
}

.tab-cashin {
  position: absolute;
  right: 15%;
  top: 7px;
  z-index: 2;
  cursor: pointer;
}

.active-cashin {
  position: absolute;
  padding: 60px;
  background-color: #90ac8e;
  right: 17%;
  top: 0px;
  z-index: 1;
  border-radius: 60px;
}

.active-cashout {
  position: absolute;
  padding: 60px;
  background-color: #90ac8e;
  left: 17%;
  top: 0px;
  z-index: 1;
  border-radius: 60px;
}

.space {
  margin-top: 3em;
}

::ng-deep .main-buttons {
  margin-top: 20px;
}
::ng-deep .main-buttons button {
  margin-top: 10px;
}
