.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.snapshot {
  text-align: center;
}

.snapshot img {
  max-width: 380px;
  max-height: 380px;
}

ul.links {
  padding-bottom: 20px;
}

.buttons {
  display: inline-flex;
}
