<div style="text-align: center">
  <div>
    <webcam
      [height]="500"
      [width]="500"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      [allowCameraSwitch]="true"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
      *ngIf="!webcamImage"
    ></webcam>
    <div class="snapshot" *ngIf="webcamImage">
      <img [src]="webcamImage.imageAsDataUrl" alt="webcam image" />
    </div>
    <br />
    <button class="actionBtn" (click)="triggerSnapshot()" *ngIf="!webcamImage">
      Capture
    </button>
    <button class="actionBtn" (click)="recapture()" *ngIf="webcamImage">
      Recapture
    </button>
    <button class="actionBtn" (click)="send()" *ngIf="webcamImage">Send</button>
  </div>
</div>
