*,
body {
  padding: 0;
  margin: 0;
}

.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.snapshot {
  text-align: center;
}

.snapshot img {
  width: 100%;
}

ul.links {
  padding-bottom: 20px;
}

.buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-buttons {
  margin-top: 2em;
}

.webcam-container {
}

/* Optional: You can style the webcam component itself */
.webcam-container ngx-webcam {
}

@keyframes ghost {
  from {
    background-position: 0vw 0;
  }
  to {
    background-position: 100vw 0;
  }
}

.line-container {
}
.line {
  width: 100%;
  height: 23px;
  margin-top: 5px;
  border-radius: 15px;
  background: linear-gradient(90deg, #f0f0f0, #d8d6d6, #f0f0f0) 0 0/ 80vh 100% fixed;
  background-color: rgb(204, 199, 199);
  animation: ghost 750ms infinite linear;
}

#ghost-element {
  padding-top: 80px;
}

#cssportal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
  width: 100%;
  height: 100%;
}
#div0 {
  grid-area: 1/1/2/2;
  align-self: center;
  font-weight: bold;
}
#div1 {
  grid-area: 1/2/2/3;
  align-self: center;
}
#div2 {
  grid-area: 2/1/3/2;
  justify-self: start;
  align-self: center;
  font-weight: bold;
}
#div3 {
  grid-area: 2/2/3/3;
  justify-self: start;
  align-self: center;
}
#div4 {
  grid-area: 3/1/4/2;
  justify-self: start;
  align-self: center;
  font-weight: bold;
}
#div5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5;
  width: 100%;
  height: 100%;
}
#div5-1 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: center;
}

#div5-2 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: start;
  align-self: center;
  color: #297bfa;
  font-weight: bold;
}
#div6 {
  grid-area: 4 / 1 / 4 / 2;
  justify-self: start;
  align-self: center;
  font-weight: bold;
}
#div7 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5;
  width: 100%;
  height: 100%;
}
#div7-1 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: center;
}

#div7-2 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: start;
  align-self: center;
  color: #297bfa;
  font-weight: bold;
}
