*,
body {
  padding: 0;
  margin: 0;
}

.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.snapshot {
  text-align: center;
}

.snapshot img {
  width: 100%;
}

ul.links {
  padding-bottom: 20px;
}

.buttons {
  display: inline-flex;
}

.webcam-container {
}

/* Optional: You can style the webcam component itself */
.webcam-container ngx-webcam {
}
