<div [ngSwitch]="true">
  <div *ngSwitchCase="viewType === 'addCashout' || viewType === 'editCashout'">
    <mat-card class="mat-card-custom">
      <form [formGroup]="this.cashoutForm">
        <!-- AMOUNT -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Amount</mat-label>
          <input
            type="number"
            min="0"
            step=".25"
            matInput
            formControlName="amount"
            (paste)="currencyStrict($event)"
            (keypress)="currencyStrict($event)"
          />

          <mat-error *ngIf="checkFormControlErrors('amount')">
            <div *ngIf="cashoutForm.get('amount')?.hasError('required')">
              Amount is required
            </div>
          </mat-error>
        </mat-form-field>

        <!-- FEE -->
        <mat-form-field style="display: block" appearance="outline">
          <mat-label>Fee</mat-label>
          <input
            type="number"
            min="0"
            step=".25"
            matInput
            formControlName="fee"
            (paste)="currencyStrict($event)"
            (keypress)="currencyStrict($event)"
          />
          <mat-error *ngIf="checkFormControlErrors('fee')">
            <div *ngIf="cashoutForm.get('fee')?.hasError('required')">
              Fee is required
            </div>
          </mat-error>
        </mat-form-field>

        <!-- FEE PAYMENT IS GCASH -->
        <div style="margin-bottom: 2em">
          <mat-label style="margin-right: 1em">Payment Fee</mat-label>
          <mat-radio-group formControlName="fee_payment_is_gcash">
            <mat-radio-button
              color="accent"
              value="true"
              style="margin-right: 1em"
              >Gcash</mat-radio-button
            >
            <mat-radio-button color="accent" value="false"
              >Cash</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <!-- NOTE -->
        <mat-form-field
          style="display: block; margin-bottom: 1em"
          appearance="outline"
        >
          <mat-label>Note</mat-label>
          <input type="text" matInput formControlName="note" />
        </mat-form-field>

        <!-- SNAPSHOT -->
        <mat-form-field style="display: none">
          <input type="text" matInput formControlName="snapshot" />
        </mat-form-field>
        <div style="margin-top: 1em">
          <div>
            <div class="webcam-container">
              <webcam
                [height]="367"
                [width]="367"
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)"
                [allowCameraSwitch]="true"
                [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"
                *ngIf="!webcamImage"
              ></webcam>
            </div>
            <div class="snapshot" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl" alt="webcam image" />
            </div>
            <br />
            <div class="buttons">
              <button
                mat-flat-button
                color="main-green"
                (click)="triggerSnapshot()"
                *ngIf="!webcamImage"
                class="fw-bold"
              >
                <!-- <span class="material-symbols-outlined"> photo_camera </span> -->
                TAKE PICTURE
              </button>
              <button
                mat-flat-button
                color="danger"
                (click)="recapture()"
                *ngIf="webcamImage"
                class="fw-bold"
              >
                <!-- <span class="material-symbols-outlined"> delete </span> -->
                REMOVE PICTURE
              </button>
            </div>
            <div class="main-buttons">
              <button
                *ngIf="viewType === 'addCashout'"
                mat-flat-button
                color="main-green"
                (click)="sendRequest()"
                [disabled]="this.cashoutForm.invalid || sendRequestBtnOnLoad"
                class="btn-block fw-bold"
              >
                <div *ngIf="!sendRequestBtnOnLoad; else loadsend">
                  SEND REQUEST
                </div>
                <ng-template #loadsend>
                  <i class="fas fa-circle-notch fa-spin"></i>
                </ng-template>
              </button>
              <button
                *ngIf="viewType === 'editCashout'"
                mat-flat-button
                color="main-green"
                (click)="updateRequest()"
                [disabled]="this.cashoutForm.invalid || updateRequestBtnOnLoad"
                class="btn-block fw-bold"
              >
                <div *ngIf="!sendRequestBtnOnLoad; else loadupdate">
                  UPDATE REQUEST
                </div>
                <ng-template #loadupdate>
                  <i class="fas fa-circle-notch fa-spin"></i>
                </ng-template>
              </button>

              <button
                mat-flat-button
                color="main-green"
                (click)="cancel()"
                class="btn-block fw-bold"
              >
                CANCEL
              </button>
            </div>
          </div>
        </div>
        <mat-error *ngIf="checkFormControlErrors('snapshot')">
          <div
            *ngIf="
              cashoutForm.get('snapshot')?.errors &&
              cashoutForm.get('snapshot')?.hasError('required')
            "
          >
            Snapshot is required
          </div>
        </mat-error>
      </form>
    </mat-card>
  </div>

  <div *ngSwitchCase="viewType === 'table'">
    <mat-card style="margin-bottom: 15px">
      <section id="cssportal-grid" *ngIf="!cashOutTableOnLoad">
        <div id="div0">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >calendar_month</mat-icon
          > -->
          DATE
        </div>
        <div id="div1">
          <b>{{ transactionDetails.date | date : "MMMM d, y EE" }}</b>
        </div>
        <div id="div2">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >phone_android</mat-icon
          > -->
          ACCOUNT
        </div>
        <div id="div3">{{ transactionDetails.gcashNumber }}</div>
        <div id="div4">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >account_balance_wallet</mat-icon
          > -->
          CASH
        </div>

        <section id="div5">
          <div id="div5-1">
            {{ transactionDetails.cash_on_hand | currency : "₱" : "symbol" }}
          </div>
          <div id="div5-2">
            {{
              transactionDetails.runbal_cash_on_hand | currency : "₱" : "symbol"
            }}
          </div>
        </section>
        <div id="div6">
          <!-- <mat-icon class="material-icons material-symbols-rounded"
            >rss_feed</mat-icon
          > -->
          GCASH
        </div>
        <section id="div7">
          <div id="div7-1">
            {{ transactionDetails.gcash | currency : "₱" : "symbol" }}
          </div>
          <div id="div7-2">
            {{ transactionDetails.runbal_gcash | currency : "₱" : "symbol" }}
          </div>
        </section>
      </section>

      <div class="line-container" *ngIf="cashOutTableOnLoad">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </mat-card>

    <app-table
      [componentName]="'cashout'"
      [headers]="['TIME', 'FEE', 'AMOUNT', 'NOTE', 'REFERENCE', 'MENU']"
      [data]="this.cashOuts"
      [dataNames]="['createdAt', 'fee', 'amount', 'note', 'snapshot']"
      [tableButtons]="[{ name: 'VIEW' }, 'status', 'amount']"
      [totalCount]="counts"
      [filters]="this.filters"
      [currentPage]="currentPage"
      [tableOnLoad]="cashOutTableOnLoad"
      [totalPages]="pages"
      (next)="this.getCashOuts($event)"
      (emitButtonClick)="this.emittedButton($event)"
      (previous)="this.getCashOuts($event)"
      @fade
    ></app-table>
  </div>
  <div *ngSwitchCase="viewType === 'noTransaction'">
    <p>No Transaction</p>
  </div>
</div>

<!-- to bypass autoplay policies in Safari and other browsers, you need to ensure
that audio playback is initiated by a user interaction, such as a click event. -->

<button
  hidden
  #triggerAudioBtn
  (click)="this.audio.playSound('mixkit-elevator-tone.ogg')"
>
  Play Sound
</button>
