::ng-deep .mat-card {
  padding: 15px !important;
}

::ng-deep .fas {
  font-size: 25px !important;
  font-weight: 900;
}

::ng-deep .mat-danger {
  background-color: #d9534f;
  color: white;
}

::ng-deep .mat-main-green {
  background-color: #90ac8e !important;
  color: white !important;
}

::ng-deep .mat-main-green-basic {
  color: #90ac8e;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #90ac8e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: #90ac8e;
  background-color: #90ac8e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(255, 37, 37, 0.26);
}

::ng-deep button:disabled {
  background-color: #90ac8e !important;
  color: white !important;
}

/* ::ng-deep video {
  width: 100% !important;
}
::ng-deep .camera-switch {
  top: 25px !important;
} */

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anton-Regular";
  src: url("./../assets/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
