::ng-deep .mat-card {
  padding: 15px !important;
}

::ng-deep .fas {
  font-size: 25px !important;
  font-weight: 900;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anton-Regular";
  src: url("./../assets/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
