@import "./../@padayon/styles/variables.scss";
@import "./shared/styles/style.scss";

*,
body {
  padding: 0;
  margin: 0;
}

.gs-main-button-group {
  position: fixed !important;
  bottom: 64px;
  left: 0px;
  width: 100vw !important;
  background-color: #f3f3f3;
  padding: 5px 5px 8px 5px;

  .gs-main-button-group-horizontal {
    display: flex !important;
    flex-wrap: wrap;
    gap: 0.5em !important;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
}

.ms-tabs-container {
  width: 100% !important;
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  z-index: 1;

  mat-button-toggle {
    flex: 1 1 auto !important;
    padding: 10px 10px 13px 10px !important;
    font-weight: bold;
    background-color: #f3f3f3 !important;
  }
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: $main-color !important;
  }
}

.ms-box {
  display: flex; /* Use flexbox layout */
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Set width of the box */
  height: 287.4px; /* Set height of the box */
  border: 2px solid $second-color; /* Add a border to the box */
  margin: auto !important; /* Center the box itself horizontally */
  padding: 70px !important;
  text-align: center;
  .text-below {
    h3 {
      margin: 0;
    }
  }
}

.ms-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  min-height: 40px;
  justify-content: flex-start;
  max-width: 80px;
  min-width: 80px;
  line-height: 1em;
  position: relative;

  .mat-icon-button {
    width: 40px;
    height: 40px;
  }

  button {
    width: 100%;

    mat-icon {
      font-size: 40px !important;
      text-align: center !important;
      width: 100%;
    }
  }

  .ms-icon-text {
    margin-top: 4px;
    font-size: x-small;
    font-weight: 800;
  }
}
@media (max-width: 355px) {
  .ms-icon-container {
    max-width: 60px;
    min-width: 60px;
  }
}

.ms-mini-loader {
  position: absolute;
  top: 50%; /* Position 50% from the top */
  left: 50%; /* Position 50% from the left */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by 50% of its own width and height to center */
  background: #ffffff57;
  padding: 25px 26px;
  color: #ffffff;
  cursor: default;
}

.material-icons-two-tone {
  font-size: 60px; /* Adjust size as needed */
  color: #771717; /* Adjust color as needed */
}

.ms-details-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 150px;
  background: linear-gradient(135deg, #0000 20.5%, #ffffff 0 29.5%, #0000 0) 0
      26.5px,
    linear-gradient(45deg, #0000 8%, #ffffff 0 17%, #0000 0 58%) 53px 0,
    linear-gradient(
      135deg,
      #0000 8%,
      #ffffff 0 17%,
      #0000 0 58%,
      #ffffff 0 67%,
      #0000 0
    ),
    linear-gradient(
      45deg,
      #0000 8%,
      #ffffff 0 17%,
      #0000 0 58%,
      #ffffff 0 67%,
      #0000 0 83%,
      #ffffff 0 92%,
      #0000 0
    ),
    #7684f1;
  background-size: 106px 106px;
}

.ms-details {
  position: absolute;
  top: 1.5em;
  width: 96vw;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

/*
.tab-container {
  padding-top: 40px;
  position: relative;
  max-width: 400px;
  font-size: larger;
  background-color: transparent;

  .tab-group {
    background-color: $main-color;
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 20px;
    border-radius: 15px;

    .tab-cashout {
      position: absolute;
      left: 12%;
      top: 7px;
      z-index: 2;
      cursor: pointer;
    }

    .tab-cashin {
      position: absolute;
      right: 15%;
      top: 7px;
      z-index: 2;
      cursor: pointer;
    }
  }

  .active-cashin {
    position: absolute;
    padding: 60px;
    background-color: $main-color;
    right: 9%;
    top: 0px;
    z-index: 1;
    border-radius: 60px;
  }

  .active-cashout {
    position: absolute;
    padding: 60px;
    background-color: $main-color;
    left: 9.5%;
    top: 0px;
    z-index: 1;
    border-radius: 60px;
  }
}
*/
