<!-- <div class="tab-container">
  <div class="tab-group">
    <b class="tab-cashout fw-bold" (click)="view('cashout')">CASH OUT</b>
    <b class="tab-cashin fw-bold" (click)="view('cashin')">CASH IN</b>
  </div>
  <div [class.active-cashout]="tabActiveCashout"></div>
  <div [class.active-cashin]="tabActiveCashin"></div>
</div> -->
<mat-button-toggle-group class="ms-tabs-container" [(ngModel)]="selectedRoutes">
  <mat-button-toggle value="cashout" routerLink="/transaction/cashout">
    CASH OUT
  </mat-button-toggle>

  <mat-button-toggle value="cashin" routerLink="/transaction/cashin"
    >CASH IN</mat-button-toggle
  >
</mat-button-toggle-group>

<router-outlet (activate)="fromRouterOutlet($event)"></router-outlet>

<!-- <div [ngSwitch]="this.viewType"> -->
<!-- <ng-container *ngSwitchCase="'cashin'">
    <app-cash-in (hideMainButton)="mainButton($event)"> </app-cash-in>
  </ng-container> -->
<!-- <ng-container *ngSwitchCase="'cashout'">
    <app-cash-out (hideMainButton)="mainButton($event)"> </app-cash-out>
  </ng-container> -->
<!-- <ng-container *ngSwitchCase="'createTransaction'"> -->

<!-- </ng-container> -->
<!-- </div> -->
<ng-container *ngIf="!hideMainButton">
  <mat-card class="gs-button-group">
    <div class="gs-button-group-horizontal">
      <ng-container *ngIf="role === 'admin'">
        <button
          mat-flat-button
          color="main-green"
          class="btn-block fw-bold"
          (click)="createTransactionPage()"
        >
          CREATE TRANSACTION
        </button>

        <button
          mat-flat-button
          color="main-green"
          (click)="generateReport()"
          class="btn-block fw-bold"
          [disabled]="generateReportBtnOnLoad"
        >
          <ng-container *ngIf="!generateReportBtnOnLoad; else loadgenreport">
            GENERATE REPORT
          </ng-container>
          <ng-template #loadgenreport>
            <i class="fas fa-circle-notch fa-spin"></i>
          </ng-template>
        </button>
      </ng-container>

      <button
        mat-flat-button
        color="main-green"
        (click)="logout()"
        class="btn-block fw-bold"
      >
        LOG OUT
      </button>
    </div>
  </mat-card>
</ng-container>
