<!-- <div class="tab-container">
  <div class="tab-group">
    <b class="tab-cashout fw-bold" (click)="view('cashout')">CASH OUT</b>
    <b class="tab-cashin fw-bold" (click)="view('cashin')">CASH IN</b>
  </div>
  <div [class.active-cashout]="tabActiveCashout"></div>
  <div [class.active-cashin]="tabActiveCashin"></div>
</div> -->

<!-- <div [ngSwitch]="this.viewTypeTransaction"> -->
<!-- <ng-container *ngSwitchCase="'cashin'">
    <app-cash-in (hideMainButton)="mainButton($event)"> </app-cash-in>
  </ng-container> -->
<!-- <ng-container *ngSwitchCase="'cashout'">
    <app-cash-out (hideMainButton)="mainButton($event)"> </app-cash-out>
  </ng-container> -->
<!-- <ng-container *ngSwitchCase="'createTransaction'"> -->

<!-- </ng-container> -->
<!-- </div> -->
<ng-container *ngIf="!hideMainButton">
  <ng-container
    *ngIf="this.viewTypeTransaction === 'noTransaction'; else details"
  >
    <nothing-to-display>
      <ng-container *ngIf="role === 'admin'">
        <ng-container *ngTemplateOutlet="btnCreateTransaction"></ng-container>
      </ng-container>
    </nothing-to-display>
  </ng-container>

  <ng-template #details>
    <mat-button-toggle-group
      class="ms-tabs-container"
      [(ngModel)]="selectedRoutes"
    >
      <mat-button-toggle
        value="cashout"
        (click)="navigate('/app/transaction/cashout')"
      >
        CASH OUT
      </mat-button-toggle>

      <mat-button-toggle
        value="cashin"
        (click)="navigate('/app/transaction/cashin')"
        >CASH IN</mat-button-toggle
      >
    </mat-button-toggle-group>

    <mat-card style="margin-bottom: 1em !important">
      <ng-container *ngIf="!getTransactionLoading; else detailLoader">
        <section id="cssportal-grid">
          <div id="div0">
            <!-- <mat-icon class="material-icons material-symbols-rounded"
              >calendar_month</mat-icon
            >  -->
            DATE
          </div>
          <div id="div1">
            <b>{{ transactionDetails.date | date : "MMMM d, y EE" }}</b>
          </div>
          <div id="div2">ACCOUNT</div>
          <div id="div3">{{ transactionDetails.gcashNumber }}</div>
          <div id="div4">CASH</div>

          <section id="div5">
            <div id="div5-1">
              {{ transactionDetails.cash_on_hand | currency : "₱" : "symbol" }}
            </div>
            <div id="div5-2">
              {{
                transactionDetails.runbal_cash_on_hand
                  | currency : "₱" : "symbol"
              }}
            </div>
          </section>
          <div id="div6">GCASH</div>
          <section id="div7">
            <div id="div7-1">
              {{ transactionDetails.gcash | currency : "₱" : "symbol" }}
            </div>
            <div id="div7-2">
              {{ transactionDetails.runbal_gcash | currency : "₱" : "symbol" }}
            </div>
          </section>
        </section>
      </ng-container>

      <ng-template #detailLoader>
        <div class="ms-trans-detail-loader">
          <div class="ms-line"></div>
          <div class="ms-line"></div>
          <div class="ms-line"></div>
          <div class="ms-line"></div>
        </div>
      </ng-template>
    </mat-card>
  </ng-template>
</ng-container>

<ng-container *ngIf="!hideRouterOutlet">
  <router-outlet (activate)="fromRouterOutlet($event)"></router-outlet>
</ng-container>

<ng-container *ngIf="!hideMainButton">
  <mat-card class="gs-main-button-group">
    <div class="gs-main-button-group-horizontal">
      <ng-container *ngIf="this.viewTypeTransaction !== 'noTransaction'">
        <button
          mat-flat-button
          color="main-green"
          (click)="addTransaction()"
          class="btn-block fw-bold"
        >
          {{ pre }} CASH {{ type }}
        </button>
      </ng-container>

      <ng-container *ngIf="role === 'admin'">
        <ng-container *ngIf="this.viewTypeTransaction !== 'noTransaction'">
          <ng-container *ngTemplateOutlet="btnCreateTransaction"></ng-container>
        </ng-container>

        <button
          mat-flat-button
          color="main-green"
          (click)="generateReport()"
          class="btn-block fw-bold"
          [disabled]="generateReportBtnOnLoad"
        >
          <ng-container *ngIf="!generateReportBtnOnLoad; else loadgenreport">
            GENERATE REPORT
          </ng-container>
          <ng-template #loadgenreport>
            <i class="fas fa-circle-notch fa-spin"></i>
          </ng-template>
        </button>
      </ng-container>

      <button
        mat-flat-button
        color="main-green"
        (click)="logout()"
        class="btn-block fw-bold"
      >
        LOG OUT
      </button>
    </div>
  </mat-card>
</ng-container>

<ng-template #btnCreateTransaction>
  <button
    mat-flat-button
    color="main-green"
    class="btn-block fw-bold"
    (click)="createTransactionPage()"
  >
    CREATE TRANSACTION
  </button>
</ng-template>
