@import "./../@padayon/styles/variables.scss";
@import "./shared/styles/style.scss";

*,
body {
  padding: 0;
  margin: 0;
}

.ms-tabs-container {
  width: 100% !important;
  margin: 1em 0px;

  mat-button-toggle {
    flex: 1 1 auto !important;
    padding: 10px 10px 13px 10px !important;
    font-weight: bold;
  }
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: $main-color !important;
    color: #fff !important;
  }
}

.ms-box {
  display: flex; /* Use flexbox layout */
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Set width of the box */
  height: 500px; /* Set height of the box */
  border: 2px solid $second-color; /* Add a border to the box */
  margin: auto !important; /* Center the box itself horizontally */
  padding: 70px !important;
  text-align: center;
  .text-below {
    h3 {
      margin: 0;
    }
  }
}

/*
.tab-container {
  padding-top: 40px;
  position: relative;
  max-width: 400px;
  font-size: larger;
  background-color: transparent;

  .tab-group {
    background-color: $main-color;
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 20px;
    border-radius: 15px;

    .tab-cashout {
      position: absolute;
      left: 12%;
      top: 7px;
      z-index: 2;
      cursor: pointer;
    }

    .tab-cashin {
      position: absolute;
      right: 15%;
      top: 7px;
      z-index: 2;
      cursor: pointer;
    }
  }

  .active-cashin {
    position: absolute;
    padding: 60px;
    background-color: $main-color;
    right: 9%;
    top: 0px;
    z-index: 1;
    border-radius: 60px;
  }

  .active-cashout {
    position: absolute;
    padding: 60px;
    background-color: $main-color;
    left: 9.5%;
    top: 0px;
    z-index: 1;
    border-radius: 60px;
  }
}
*/
